body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
	outline: none;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #F3F7FA;
	width: 1024px;
	margin: 0 auto;
	padding: 50px 50px;
	font-family: 'Roboto', sans-serif;
}